html, body, div, span, object, iframe, img, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, nav, article, section, aside, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block;
}

input:focus, button:focus, select:focus, textarea:focus {
  outline: none;
}

table, td, th, tr {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
  font-size: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  background: #a3cbcb;
  font-size: 16px;
  color: #333;
  line-height: 1.3;
  min-width: 640px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 20px;
  background: #eee;
}

.profile {
  overflow: hidden;
  padding: 20px;
}

#userName {
  font-size: 32px;
  margin-right: 20px;
  float: left;
}

#editProfile {
  font-size: 32px;
  float: left;
}
#editProfile:hover {
  color: #0a537f;
}

.btn {
  margin-left: 15px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 7px 7px 5px 0px #000;
}
.btn:active {
  box-shadow: 4px 4px 3px 0px #000;
}

#follow {
  padding: 5px 10px;
  float: right;
}
#follow .fa {
  margin-right: 10px;
  font-size: 24px;
}

#unsubscribe {
  padding: 5px 10px;
  float: right;
}

#sendMessage {
  width: 80px;
  float: right;
}

.post-form {
  overflow: hidden;
  padding: 0 20px 10px;
}

.input-field {
  width: calc(100% - 110px);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  color: #333;
  font-size: 13px;
}
.input-field:focus {
  border-color: #777;
}

.posts-block {
  background: #fff;
  min-height: 100px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9990;
  display: none;
}
.modal-block {
  background: #ddd;
  border: 2px solid #777;
  border-radius: 8px;
  width: 350px;
  position: absolute;
  top: 80px;
  left: calc(50% - 175px);
  z-index: 9991;
  display: none;
}
.modal-header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  background: #a0d5b7;
  border-bottom: 2px solid #777;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.modal-body {
  padding: 20px;
  overflow: hidden;
}
.modal-form {
  margin-bottom: 40px;
}
.modal-form__row {
  margin-bottom: 10px;
}
.modal-form__row input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  color: #333;
  font-size: 13px;
}
.modal-form__row input:focus {
  border-color: #777;
}
.modal-message {
  text-align: center;
  color: red;
  display: none;
}
.modal-btn {
  font-weight: bold;
  padding: 8px 15px;
  margin-left: 20px;
  float: right;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 7px 7px 5px 0px #000;
}
.modal-btn:active {
  box-shadow: 4px 4px 3px 0px #000;
}
.modal-footer {
  padding: 20px;
  background: #a0d5b7;
  border-top: 2px solid #777;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#errorInfo {
  display: block;
  margin-bottom: 40px;
}

.post {
  margin-bottom: 10px;
  border: 2px solid #777;
  border-radius: 8px;
  background: #f0f0f0;
}
.post__head {
  padding: 10px;
  background: #a0d5b7;
  border-bottom: 2px solid #777;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.post__user {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
}
.post__date {
  font-size: 14px;
  display: inline-block;
}
.post__message {
  padding: 10px;
}
